{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <h1 class="mb-4">Task Dashboard</h1>

    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-header bg-danger text-white">
            <h2 class="mb-0">Important Priority</h2>
          </div>
          <ul class="list-group list-group-flush">
            {% for task in important_priority_tasks %}
            <li class="list-group-item">
                <div class="task-title" data-task-id="{{ task.id }}">{{ task.title }}</div>
                <div class="task-details" style="display: none; border-radius: 3px;">
                    <div class="container mt-4">
                        <div class="row">
                            <div class="col-6">
                                <p>Last Modified Date: {{ task.modified_at|date }}</p>
                            </div>
                            <div class="col-6">
                                <p>Creation Date: {{ task.created_at|date }}</p>
                            </div>
                        </div>
                      <p  class="description description-text">Description: {{ task.description }}</p>
                      <blockquote>Effort: {{ task.effort }}</blockquote>
                    </div>
                </div>    
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-header bg-warning">
            <h2 class="mb-0">High Priority</h2>
          </div>
          <ul class="list-group list-group-flush">
            {% for task in high_priority_tasks %}
              <li class="list-group-item">{{ task.title }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6">
          <div class="card mb-4">
            <div class="card-header bg-primary text-white">
              <h2 class="mb-0">Medium Priority</h2>
            </div>
            <ul class="list-group list-group-flush">
              {% for task in medium_priority_tasks %}
                <li class="list-group-item">{{ task.title }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
  
        <div class="col-md-6">
          <div class="card mb-4">
            <div class="card-header bg-success">
              <h2 class="mb-0">Low Priority</h2>
            </div>
            <ul class="list-group list-group-flush">
              {% for task in low_priority_tasks %}
                <li class="list-group-item">{{ task.title }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
  </div>
{% endblock %}


