{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block body_attributes %}
    data-home-url="{% url 'home' %}"
{% endblock %}

{% block content %}
<div class="container form-container">
    <div class="row">
        <h2>Add a Task</h2>
    </div>
    <form method="post"  id="add-task-form">
        {% csrf_token %}
        <div class="row">
            {{ form.title|as_crispy_field }}
        </div>
        <div class="row">
            {{ form.description|as_crispy_field }}
        </div>
        <div class="row">
            <div class="col-6">
                {{ form.priority|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.effort|as_crispy_field }}
            </div>
        </div>
        <button type="button" class="btn btn-primary" id="add-task-btn">Add Task</button>
    </form>
</div>

<div class="container mt-4" id="preview-submit-tasks">
    <div class="row">
        {% for task in tasks %}
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ task.title }}</h5>
                        <p class="card-text description-text">{{ task.description }}</p>
                        <p class="card-text">Priority: {{ task.priority }}</p>
                        <p class="card-text">Effort: {{ task.effort }}</p>
                        <button class="btn btn-primary edit-task" data-task-id="{{ task.id }}">Edit</button>
                        <button class="btn btn-danger delete-task" data-task-id="{{ task.id }}">Delete</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="container" id="container-to-update">

</div>
{% endblock %}
