{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block body_attributes %}
    data-home-url="{% url 'home' %}"
{% endblock %}

{% block content %}
<div class="container form-container">
    <div class="row">
        <h2>Add a Task</h2>
    </div>
    <form method="post"  id="add-task-form">
        {% csrf_token %}
        <div class="row">
            {{ form.title|as_crispy_field }}
        </div>
        <div class="row">
            {{ form.description|as_crispy_field }}
        </div>
        <div class="row">
            <div class="col-6">
                {{ form.priority|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.effort|as_crispy_field }}
            </div>
        </div>
        <button type="button" class="btn btn-primary" id="add-task-btn">Add Task</button>
    </form>
</div>

<div class="container mt-4" id="preview-submit-tasks">
    <div class="row">
        {% for task in tasks %}
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <form method="post" class="edit-task-form" id="edit-task-form-{{ task.id }}" action="{% url 'edit_task' task.id %}">
                            {% csrf_token %}
                            <div class="row mb-4">
                                <input type="text" name="title" value="{{ task.title }}">
                            </div>
                            <div class="row mb-4">
                                <textarea name="description">{{ task.description }}</textarea>
                            </div>
                            <div class="row mb-4">
                                <div class="col-6">
                                    <label for="priority">Priority: </label>
                                    <select name="priority" id="priority">
                                        {% for choice_value, choice_label in task.PRIORITY_CHOICES %}
                                            <option value="{{ choice_value }}" {% if task.priority == choice_value %}selected{% endif %}>
                                                {{ choice_label }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-6">
                                    <label for="effort">Effort: </label>
                                    <select name="effort" id="effort">
                                        {% for choice_value, choice_label in task.EFFORT_CHOICES %}
                                            <option value="{{ choice_value }}" {% if task.effort == choice_value %}selected{% endif %}>
                                                {{ choice_label }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success mb-4">Save Changes</button>
                        </form>
                
                        <button class="btn btn-danger delete-task" data-task-id="{{ task.id }}">Delete Task</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="container" id="container-to-update">

</div>

{% endblock %}
