[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
python-dotenv = "*"
django-crispy-forms = "*"
django-fontawesome-5 = "*"
django-bootstrap5 = "*"
crispy-bootstrap5 = "*"

[dev-packages]

[requires]
python_version = "3.11"
