#app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 60px;

}
header {
    background-color: #f0e2e2;
    color: white;
    text-align: center;
}

main {
    margin-top: 60px;
 }

/* This rule sets the footer to be fixed at the bottom of the page */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #f9f9f9;
    border-top: 1px solid #ccc;
   }

/* This rule sets the navbar to be fixed at the top of the page */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ccc;
   }

/* This rule ensures that the links will be displayed in a single line */
.container {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    padding: 10px;
   }
   
   /* This rule removes the margin from the anchor elements */
   .container a {
    margin: 0;
   }
   
