{% extends "base.html" %} 
{% block content %} 
{% load crispy_forms_tags %}
    <!--Login-->
<br><br>
<!--Registro-->
<div class="container border p-3 mb-3 bg-light text-dark">
    <h1>Login</h1>
</div>
<div class="container border p-3 mb-3 bg-light text-dark">
    <form method="POST">
    {% csrf_token %}
    {{ login_form|crispy }}
    <button class="btn btn-primary" type="submit">Login</button>
    </form>
    <p class="text-center">Si no tienes una cuenta, registrate en <a
    href="register">, para crear una cuenta</a>.</p>
</div>

{% endblock %}